@charset "utf-8";

body {
  display: grid;
  margin: 0;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  min-width: 1920px;
}

nav {
  background-color: rgb(46, 69, 90);
  grid-row: span 7;
}

nav ul {
  grid-column: 1;
  float: left;
  list-style: none;
  line-height: 210px;
  margin-right: 50px;
}

nav ul li a {
  font-size: 35px;
  color: grey;
  text-decoration: none;
}

nav ul a:hover {
  color: yellow;
}

section {
  grid-column: span 7;
  background-color: rgb(124, 124, 124);
  padding: 18px 0px;
}

/* Main Page Title */
#title {
  text-align: center;
  padding-top: 50px;
  font-size: 150px;
  color: rgb(49, 61, 102);
  margin-bottom: 10px;
  grid-column: span 3;
}

/* Main Page Logo */
#logo {
  grid-column: span 3;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: auto;
}

#title_banner {
  background-image: url("mainpage_background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  grid-column: span 6;
  grid-row: span 7;
}

footer {
  color: rgb(186, 186, 156);
  background-color: rgb(73, 73, 73);
  font-size: 0.9em;
  padding: 10px 0px;
  text-align: center;
  grid-column: span 7;
}
